{% extends 'base.html' %}

{% block title %}
About this website
{% endblock %}

{% block content %}
<p>
    The Godot Engine showreel website is a platform to help with the submissions and voting of videos for the annual showreels. Each showreel is a roughly 5 minutes-long video featuring a set of games and tools that highlight the capabilities of Godot Engine. You can see the full list of past showreels on this <a href="https://youtube.com/playlist?list=PLeG_dAglpVo6EpaO9A1nkwJZOwrfiLdQ8">YouTube playlist</a>.
</p>

<p>
    Users can submit their videos for one of the categories (desktop, mobile, or tools), and maintainers will vote each entry. During the voting process, scores will be hidden and videos will be presented in a random order to avoid any bias. After the voting phase ends, the video editors will use the highest-rated entries together with some current popular games selected by the <a href="https://godot.foundation">Godot Foundation</a> for the final showreels. The selection stages and deadlines are announced <a href="https://godotengine.org/blog/">on our blog</a>.
</p>

<h3 id="requirements-and-recommendations">Submission requirements:</h3>
<p>
    When submitting your video, please make sure to ensure that these requirements are met. We withold the right to disqualify submissions that do not follow the rules.
</p>

<ul>
    <li>Your game or tool has to be made in Godot</li>
    <li>If your game was featured in last year's showreel, it can not be submitted again</li>
    <li>Submit your game to <em>one catergory only</em>; the final showreel combines all entries into one video</li>
    <li>Your video should be short, ideally between 1 and 3 minutes.</li>
    <li>Do not add logos or text overlays to your video. Our final edit will incorporate watermarks to credit you</li>
    <li>Your video must be captured with good quality and stable framerate. If your project uses Godot 4, consider using <a href="https://docs.godotengine.org/en/latest/tutorials/animation/creating_movies.html">Movie Maker mode</a></li>
    <li>All content has to be SFW. Avoid nudity, gore, hateful or shocking content.</li>
</ul>

<p>
    For desktop games, we recommend the minimum resolution to be 1080p. 60 FPS is a big plus. For mobile games, 720p or higher. The final showreel video will be edited and uploaded in 4K @ 60 FPS to maximize quality.
</p>

<p>
    Don't worry about not having a perfect video! If your game is selected, we may contact you to discuss the video content and give you a chance to improve your submission for the final edit.
</p>

<h3 id="how-to">How can I make a submission?</h3>
<p>
    To submit your video, go to <a href="{% url 'submissions' %}">your submissions</a> and click on the "New submission" button (it will be disabled if there is no currently opened showreel).
    Select the showreel category you want to submit a video to, then fill in the fields with your game's title and a link to your video. You can add a link where interested viewers can follow the progress of your game (e.g. your website, a linktree, one social media account, etc.).
    This link will be added in the description of the showreel's video.
</p>

<p>
    Once submitted, your video will be visible in the list of your submissions. It can be edited or deleted there until voting starts.
    If you want your submission to be edited or deleted during the vote, please <a href="#contact_us">contact us</a>.
</p>

<p>
    If you are participating in the review, be informed that you will <em>not</em> be able to see your own video in the vote page, as a user cannot vote for their own proposals.
</p>

<h3 id="contact_us">Contact us</h3>

<p>
    You can contact the showreel administrators via our email address <a href="mailto:contact@godotengine.org">contact@godotengine.org</a>. Make sure to include your details so we can resolve any potential issue faster.
</p>

<h3>License</h3>
<p>
    Kindly ensure that you are the rights-holder to all content you submit. We will only use your submission for the purpose of creating the previously described showreel video, which will be shared across official Godot Engine channels.
<p>
    This website's code, built with Django, is freely available on <a href="https://github.com/groud/godot-showreel-voting">GitHub</a> under the MIT license.
    It uses several icons provided by <a href="https://fontawesome.com/">Font Awesome</a> under the CC BY 4.0 license.
</p>

<h3>Personal data</h3>
<p>
    To run this website, we store the following data:
</p>
<ul>
    <li>Your account username and email address.</li>
    <li>Your video proposals and their associated data.</li>
    <li>Your votes on other users' proposals.</li>
</ul>

<p>
    For any request regarding the data associated with your account, please <a href="#contact_us">contact us</a>.
</p>

{% endblock %}
