{% extends 'base.html' %}

{% load static %}

{% block title %}
video showreel submissions rating
{% endblock %}

{% block intro-paragraph %}
{% endblock %}

{% block nav %}
    {% include "includes/navbar.html" with active="vote" %}
{% endblock %}

{% block content %}
    {% if can_undo %}
    <form class="go-back-button" style="float:left" action={% url 'delete-last-vote' %} method="post">
        {% csrf_token %}
        <button type="submit"><i class="fas fa-arrow-left"></i></button>
    </form>
    {% endif %}

    {% if video %}
        <div id="video_abstract">
            <p class="text-large">
                <i>"{{ video.game }}"</i> proposed by <b>{{ video.author_name }}</b>
                for showreel <b>{{ video.showreel.title }}</b>
            </p>
        </div>

        {% if video.get_youtube_video_id %}
            <iframe width="1200" height="675"  src="https://www.youtube.com/embed/{{video.get_youtube_video_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
            <p class="text-center">
                External Video: <a href="{{ video.video_link }}">Link</a>
            </p>
        {% endif%}

        <form method="post">
            {% csrf_token %}

            <div class="five_stars_wrapper">
                <label for="form.rating.name">Your rating: </label>
                <div class="five_stars">
                    <button type="submit" id="star1" name="{{ form.rating.name }}" value="1">★</button>
                    <button type="submit" id="star2" name="{{ form.rating.name }}" value="2">★</button>
                    <button type="submit" id="star3" name="{{ form.rating.name }}" value="3">★</button>
                    <button type="submit" id="star4" name="{{ form.rating.name }}" value="4">★</button>
                    <button type="submit" id="star5" name="{{ form.rating.name }}" value="5">★</button>
                </div>
                {% if form.rating.help_text %}
                <p class="help">{{ form.rating.help_text|safe }}</p>
                {% endif %}                
                {{ form.rating.errors }}
            </div>
        </form>

        <p class="text-center">
            You have voted on <b>{{ amount_rated }}</b> of <b>{{ amount_total }}</b> submissions
        </p>

        <script>
            function updateStars(div, hovered) {
                var stars = div.querySelectorAll('button')
                var i = 0
                for (; i <= hovered; i++) {
                    stars[i].style.color = "#c59b08";
                }
                for (; i < stars.length; i++) {
                    stars[i].style.color = "";
                }
            }

            document.querySelectorAll('.five_stars').forEach(div => {
                    var stars = div.querySelectorAll('button')
                    stars.forEach((button, i) => {
                        button.addEventListener('mouseenter', event => {
                            updateStars(div, i);
                        })
                        button.addEventListener('mouseleave', event => {
                            updateStars(div, -1);
                        })
                    })
                }
            )
        </script>
    {% else %}
        <div id="video_abstract"> 
            No more video to rate. Thanks for you help !
        </div>
    {% endif %}

{% endblock %}

