<div class="entries"> 
    {% for entry in submissions %}
        <div class="entry panel padded">
            <div class="info">
                <div>
                    <div class="image-container">
                        <img src="https://img.youtube.com/vi/{{ entry.parse_youtube_video_id() }}/default.jpg" alt="Video thumbnail" loading="lazy">
                    </div>
                </div>
                <div>
                    <h2><a href="/user/submissions">{{ entry.game }}</a></h2>
                    <p><strong>{{ entry.author_name }}</strong></p>
                    <p class="category">{{ entry.showreel.title }}</p>			
                </div>
            </div>
        </div>
    {% endfor %}
</div>