<style>
	.entries {
		margin-top: 20px;
		display: grid;
		gap: 20px;
		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	.entry {
		display: grid;
		grid-template-columns: 1fr;
	}
</style>
<main id="admin">
	<h1>Manage Shorwreels</h1>
	<form action="{{ url_for('votes.update_showreel_status') }}" method="post" style="display:inline;">
		{{ form.csrf_token }}

		{{ form.showreel_id.label }}
		<select id="showreel_id" name="showreel_id">
			{% for showreel in showreels %}
				<option value="{{ showreel.id }}"
						data-status="{{ showreel.status.name }}">
					{{ showreel.title }}
				</option>
			{% endfor %}
		</select>

		{{ form.showreel_status.label }}
		{{ form.showreel_status(id="showreel_status") }}

		<button type="submit" class="button primary small">Save</button>
	</form>

	<h1 style="margin-bottom: 20px;">Vote results</h1>
	<form action="{{ url_for('votes.download_vote_results') }}" method="get" style="display:inline;">
		<input type="hidden" id="download-showreel-id" name="showreel_id" value="">
		<button type="submit" class="button primary small">Download results .csv</button>
	</form>
	<div id="vote-results">
	</div>
</main>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const showreelSelect = document.getElementById('showreel_id');
		const statusSelect = document.getElementById('showreel_status');
		const voteResults = document.getElementById('vote-results');
		const downloadShowreelId = document.getElementById('download-showreel-id');

		function updateStatus() {
			const selectedOption = showreelSelect.options[showreelSelect.selectedIndex];
			const status = selectedOption.dataset.status;

			if (!status) return;

			statusSelect.value = status;
			downloadShowreelId.value = showreelSelect.value;
		}

		function updateResults() {
			const showreelId = showreelSelect.value;

			fetch(`/showreel-results?showreel_id=${showreelId}`)
				.then(response => response.text())
				.then(html => {
					voteResults.innerHTML = html;
				});
		}

		showreelSelect.addEventListener('change', function () {
			updateStatus();
			updateResults();
		});

		updateStatus();
		updateResults();
	});
</script>