<style>
	.entries {
		margin-top: 20px;
		display: grid;
		gap: 20px;
		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	.entry {
		display: grid;
		grid-template-columns: 1fr;
	}
</style>
<main id="admin">
	<h1>Manage Shorwreels</h1>
	<form action="{{ url_for('votes.update_showreel_status') }}" method="post" style="display:inline;">
		{{ form.csrf_token }}

		{{ form.showreel_id.label }}
		<select id="showreel_id" name="showreel_id">
			{% for showreel in showreels %}
				<option value="{{ showreel.id }}"
						data-status="{{ showreel.status.name }}">
					{{ showreel.title }}
				</option>
			{% endfor %}
		</select>

		{{ form.showreel_status.label }}
		{{ form.showreel_status(id="showreel_status") }}

		<button type="submit" class="button primary small">Save</button>
	</form>
	<h1 style="margin-bottom: 20px;">Vote results</h1>
	<div>
		<p>Total votes: <strong>{{ total_votes }}</strong></p>
		<p>Positive votes: <strong>{{ positive_votes }}</strong></p>
		<p>Negative votes: <strong>{{ total_votes - positive_votes }}</strong></p>
	</div>
	<br>
	<form action="{{ url_for('votes.download_vote_results') }}" method="get" style="display:inline;">
		<button type="submit" class="button primary small">Download results .csv</button>
	</form>
	<div>
		<div class="entries">
			{% for entry in vote_tally %}
				<div class="entry panel padded">
					<h2><a href="{{ url_for('votes.video_view', video_id=entry[0].id) }}">{{ entry[0].game }}</a></h2>
					<p>Category: <strong>{{ entry[0].showreel.title }}</strong></p>
					<p>Author: <strong>{{ entry[0].author_name }}</strong></p>
					<p>Vote sum: <strong>{{ entry[1] }}</strong></p>
					<p>Votes received: <strong>{{ entry[2] }}</strong></p>
				</div>
			{% endfor %}
		</div>
	</div>
</main>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const showreelSelect = document.getElementById('showreel_id');
		const statusSelect = document.getElementById('showreel_status');

		function updateStatus() {
			const selectedOption = showreelSelect.options[showreelSelect.selectedIndex];
			const status = selectedOption.dataset.status;

			if (!status) return;

			statusSelect.value = status;
		}

		showreelSelect.addEventListener('change', updateStatus);

		updateStatus();
	});
</script>
