<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if description %}{{ description }}{% else %}Godot's annual showreel voting platform.{% endif %}">
	<title>{% if title %}{{ title }} - {% endif %}Godot Showreel Voting</title>
	<link rel="icon" href="/static/images/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" href="/static/css/1.1/base.css">
	<link rel="stylesheet" href="https://store-beta.godotengine.org/static/style/main.css">
	<link rel="stylesheet" href="/static/css/1.1/nav.css">
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	<script src="https://store-beta.godotengine.org/static/js/tiny-slider.js"></script>
	<meta property="og:site_name" content="Godot Showreel Voting">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if title %}{{ title }} - {% endif %}Godot Showreel Voting">
	<meta property="og:description" content="{% if description %}{{ description }}{% else %}Godot's annual showreel voting platform.{% endif %}">
	<meta property="og:image" content="{% if thumbnail %}{{ storage.backend.url_for(thumbnail) }}{% else %}/static/images/share-image.webp{% endif %}">
	<meta name="twitter:card" content="summary_large_image">
</head>

<body>
	<noscript style="display: block; margin-top: 68px; background-color: #f8d7da; color: #721c24; padding: 1rem; margin-bottom: -68px; text-align: center;">
		<p>JavaScript is disabled in your browser. Some features of this site may not work properly.</p>
	</noscript>
	{% import "macros.html" as macros %}
	{% if hide_nav %}{% else %}{{ macros.nav(user) }}{% endif %}
	{{ content | safe }}
	{{ macros.footer() }}
	<script src="/static/main.js"></script>
</body>

</html>
