<style>
	.entries {
		margin-top: 20px;
		display: grid;
		gap: 20px;
		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	.entry {
		display: grid;
		grid-template-columns: 1fr;
	}
	.vote {
		background: #48ec2563;
		border-radius: 6px;
		padding: 2px 8px;
		display: inline-block;
		margin-top: 4px;
		&.yes {
			background: #48ec2563;
		}
		&.no {
			background: #ec484863;
		}
	}
</style>
<main id="history">
	<h1 style="margin-bottom: 20px;">Vote history</h1>
	<div>
		<p>You have voted {{ progress.current }} out of {{ progress.total }} entries. {% if progress.current != progress.total %}<a href="/vote">Continue voting</a>.{% endif %}</p>
		<div class="entries">	
			<!-- Items should be sorted by what you Voted last in chronological order -->
			<!-- This should be a loop -->
			{% for entry in submitted_votes.items %}
				<div class="entry panel padded">
					<h2>{{ entry.video.game }}</h2>
					<p>Category: <strong>{{ entry.video.showreel.title }}</strong></p>
					<p>Author: <strong>{{ entry.video.author_name }}</strong></p>
					{% if entry.rating == 1 %}
						<p>Your vote: <strong class="vote yes">Yes 👍</strong></p>
					{% elif entry.rating == -1 %}
						<p>Your vote: <strong class="vote no">No 👎</strong></p>
					{% else %}
						<p>Your vote: <strong>Skip ⏭️</strong></p>
					{% endif %}
					<div style="margin-top: 10px;">
						<form action="{{ url_for('votes.vote_get', video_id=entry.video.id) }}" method="get" style="display:inline;">
							<button type="submit" class="button dim small">Edit vote</button>
						</form>
						<form action="{{ url_for('votes.delete_vote', video_id=entry.video.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this vote?\n\nThis video will show again in the showreel vote.');">
							<button type="submit" class="button dim small">Delete vote</button>
						</form>
					</div>					
				</div>
			{% endfor %}
		</div>
		{% with elements=submitted_votes, request_url="votes.history", hx_target="#history", strategy="outerHTML" %}
			{% include "pagination.html" with context %}
		{% endwith %}
	</div>
</main>