{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <div class="login_wrapper">
        <img src="{% static 'vote/images/Godot_logo.svg' %}" alt="Godot Engine" width="300px">
        <h2>Showreel videos rating</h2>
        {% if user.is_authenticated %}
        <p class="errornote">
            You are authenticated as {{ user.email }}, but are not authorized to
            access this page. Would you like to login using a different account?
        </p>
        {% endif %}
        {% include "includes/login_button.html" %}
    </div>
{% endblock %}