{% extends 'base.html' %}

{% block title %}
About this website
{% endblock %}

{% block content %}
<p>
    The Godot Engine showreel website is a platform to help with the submissions and voting of videos for the annual showreels. Each showreel is a 2 to 3-minutes-long video featuring a set of games or tools that highlight the capabilities of Godot Engine. You can see the full list of existing showreels on this <a href="https://www.youtube.com/playlist?list=PLeG_dAglpVo6EpaO9A1nkwJZOwrfiLdQ8">YouTube playlist</a>.
</p>

<p>
    Users can submit their videos for one of the showreels (desktop, mobile, or tools), and maintainers will vote each entry. During the voting process, the scores will be hidden and videos will be presented in a random order to avoid any bias. After the voting phase ends, the video editors will use the most rated entries for the final showreels. The selection stages and deadlines are announced on our blog (https://godotengine.org/blog).
</p>

<h3 id="requirements-and-recommendations">Requirements and recommendations:</h3>
<p>
    Current requirements and recommendations for your submissions:
</p>

<ul>
    <li>Your game or tool has to be made in Godot or at least the majority of it should be using the engine.</li>
    <li>Your submission needs to be in the proper category. For example, if you submit a desktop-only game to the mobile showreel, it will get disqualified.</li>
    <li>Your video should be short, ideally between 1 and 3 minutes.</li>
    <li>Watermarks will be added during our final edit, so try to avoid submitting videos with the name of your game or company visible during gameplay.</li>
    <li>Your video must be captured with good quality and stable framerate.</li>
    <li>Avoid nudity, gore, hateful or shocking content.</li>
    <li>You can only submit a video once.</li>
</ul>

<p>
    For desktop games, we recommend the minimum resolution to be 1080p. 60 FPS is a big plus. For mobile games, 720p or higher. The final showreel video will be edited and uploaded in 4K @ 60 FPS to maximize quality.
</p>

<p>
    Don't worry about not having a perfect video! If your game is selected, we may contact you to discuss the video content and ask you a better version of the video that would better fit the showreel.
</p>

<h3 id="how-to">How can I make a submission?</h3>
<p>
    To submit your video, go to <a href="{% url 'submissions' %}">your submissions</a> and click on the "New submission" button (it will be disabled if there is no currently opened showreel).
    Select the showreel you want to submit a video to, then fill in the fields with your game's title and a link to your video. Eventually, you can add a link to follow the progress of your game (like your social network account or your website).
    This link will be added in the description of the showreel's video.
</p>

<p>
    Once submitted, your video will be visible in the list of your submissions. It can be edited or deleted there until the showreel is open to votes.
    If you want your submission to be edited or deleted during the vote, please <a href="#contact_us">contact us</a>.
</p>

<p>
    You will <em>not</em> be able to see your video in the vote page, as a user cannot vote for their own proposals.
</p>

<h3 id="contact_us">Contact us</h3>

<p>
    You can contact the showreel administrators via our email address <a href="mailto:contact@godotengine.org">contact@godotengine.org</a>. Make sure to include your details so we can resolve any potential issue faster.
</p>

<h3>License</h3>
<p>
    This website's code, built with Django, is freely available on <a href="https://github.com/groud/godot-showreel-voting">GitHub</a> under the MIT license.
    It uses several icons provided by <a href="https://fontawesome.com/">Font Awesome</a> under the CC BY 4.0 license.
</p>

<h3>Personal data</h3>
<p>
    To run this website, we store the following data:
</p>
<ul>
    <li>Your account username and email address.</li>
    <li>Your video proposals and their associated data.</li>
    <li>Your votes on other users' proposals.</li>
</ul>

<p>
    For any request regarding the data associated with your account, please <a href="#contact_us">contact us</a>.
</p>

{% endblock %}
