{% extends 'base.html' %}

{% load static %}

{% block title %}
Showreels
{% endblock %}

{% block nav %}
    {% include "includes/navbar.html" with active="showreels" %}
{% endblock %}

{% block content %}
    {% if not object_list %}
        <p>No showreel available.</p>
    {% else %}
        <table>
        <tr>
            <th>Showreel</th>
            <th>Status</th>
        </tr>
        {% for showreel in object_list %}
            <tr>
                <td><a href="{% url 'showreel-overview' showreel.id %}">{{ showreel.title }}</a></td>
                <td>{{ showreel.get_status_display }}</td>
            </tr> 
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}