{% extends 'base.html' %}

{% block title %}
New submission
{% endblock %}

{% block content %}    
    <p>Before submitting a video, please make sure it is <a href="{% url "about" %}#eligible">eligible for a showreel</a>. You can also maximize your chances to be selected with <a href="{% url "about" %}#tips">those few tips.</a></p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field_wrapper">
                {{ field.label_tag }} <span class="field_input">{{ field }}</span>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}                
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="actions">
            <input class="btn" type="submit" value="Submit">
            <a class="btn cancel" href="{% url 'submissions' %}">Cancel</a>
        </div>
    </form>
{% endblock %}

