{% extends 'base.html' %}

{% load static %}

{% block title %}
My submissions
{% endblock %}

{% block nav %}
    {% include "includes/navbar.html" with active="submissions" %}
{% endblock %}

{% block content %}
    {% if has_open_showreels or has_voted_showreels %}
        {% if not object_list %}
            <p>You have no submissions for the currently opened showreels.</p>
        {% else %}
            <table>
            <tr>
                <th>Showreel</th>
                <th>Status</th>
                <th>Game title</th>
                <th>Video link</th>
                <th>Actions</th>
            </tr>
            {% for video in object_list %}
                <tr>
                    <td>{{ video.showreel.title }}</td>
                    <td>{{ video.showreel.status }}</td>
                    <td>{{ video.game }}</td>
                    <td><a href="{{ video.video_link }}">Link</a></td> 
                    <td><a href="{% url 'update-submission' video.id %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete-submission' video.id %}"><i class="fas fa-trash-alt"></i></a></td>
                </tr> 
            {% endfor %}
            </table>
        {% endif %}
        <div class="actions">
            {% if has_open_showreels %}
                <a class="btn" href="{% url 'new-submission' %}">New submission</a>
            {% else %}
                <span class="btn disabled">New submission</span>
            {% endif %}
        <div>
    {% else %}
        <p>No showreels are currently open to votes or submissions.</p>
    {% endif %}
{% endblock %}